:root {
    --main-bg-color: #19181a;
    --priority-low-color: #479761;
    --priority-med-color: #cebc81;
    --priority-high-color: #a16e83;
    --secondary-color: #b19f9e;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-bg-color);
    height: 100vh;
}

#header-div {
    background-color: var(--priority-low-color);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 2;
}

#header-text {
    color: var(--secondary-color);
}

#menu-div {
    background-color: var(--priority-low-color);
    opacity: .9;
    height: 15%;
    display: flex;
    align-items: space-around;
    font-size: 1.3rem;
}

#menu-div button {
    font-size: 1.2rem;
    width: 5rem;
    background-color: rgba(255, 255, 255, .2);
    border-radius: .4rem;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#project-menu-div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

#project-menu-list-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: fit-content;
}

#project-menu-list-select {
    background-color: rgba(255, 255, 255, .2);
    border: none;
    border-radius: .4rem;
    font-size: 1.1rem;
}

select option {
    background-color: var(--priority-low-color);
}

#view-by-date-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#view-by-date-buttons-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#view-by-date-buttons-div button {
    height: 1.6rem;
    width: 6rem;
}