/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset styles */

:root {
    --main-bg-color: #19181a;
    --priority-low-color: #479761;
    --priority-med-color: #cebc81;
    --priority-high-color: #a16e83;
    --secondary-color: #b19f9e;
}

* {
    margin: 0;
    padding: 0;
    color: var(--main-bg-color);
}

button, select, option {
    color: var(--main-bg-color) !important;
}

body {
    background-color: var(--main-bg-color);
    height: 100vh;
}

#header-div {
    background-color: var(--priority-low-color);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 2;
}

#header-text {
    color: var(--secondary-color);
    font-size: 3rem;
}

#menu-div {
    background-color: var(--priority-low-color);
    opacity: .9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.3rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 8px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
    padding: 2% 0;
}

#project-menu-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;
}

#create-new-buttons-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#view-by-date-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#view-by-date-buttons-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

#menu-div button {
    font-size: 1.2rem;
    width: 5rem;
    background-color: rgba(255, 255, 255, .2);
    border-radius: .4rem;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    color: black;
}

#project-menu-list-form {
    display: flex;
    flex-direction: column;
    gap: 40%;
    height: 100%;
    width: fit-content;
}

#project-menu-list-select {
    background-color: rgba(255, 255, 255, .2);
    border: none;
    border-radius: .4rem;
    font-size: 1.1rem;
}

select option {
    background-color: var(--priority-low-color);
}

#task-view-div {
    background-color: var(--secondary-color);
    height: 100%;
    color: var(--main-bg-color);
    padding: 2%;
}

#task-view-title-div {
    text-align: center;
    font-size: 2rem;
}

.task {
    display: flex;
    gap: 3%;
    margin: 2% 0;
    font-size: 1.2rem;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    display: grid;
    place-content: center;
    font: inherit;
    color: currentColor;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: .3rem;
}

input[type="checkbox"]::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--priority-low-color);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}